parameters:
    level: 8
    checkMissingCallableSignature: true
    paths:
        - src
    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: missingType.iterableValue
