name: QA

on: pull_request

concurrency:
  group: qa-pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  qa:
    name: QA
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      matrix:
        version: [ '8.2', '8.3', '8.4', 'latest' ]

    steps:
    - name: Clone repository
      uses: actions/checkout@v6
    - name: Use PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.version }}
        tools: composer
      env:
        update: true

    - name: Install dependencies
      run: |
        composer install
    - name: Run QA
      run: |
        composer qa
